@import "tailwindcss";

@theme {
  --color-primary: #8630E8;
  --color-secondary: #17212E;
  --color-tertiary: #EEF2F6;
  --spacing-mContainer: 1244px;
  --font-inter: "Inter Tight", sans-serif;
  --font-noto: "Noto Sans", sans-serif;
}